.ant-select:not(.ant-select-customize-input) {
  &.papper-multiple-select__custom {
    width: 100%;
    .ant-select-selector {
      border-radius: 0.75em;
      min-width: 116px;
    }
  }

  // for radius of select box
  &.multiple-select-rounded-small {
    .ant-select-selector {
      border-radius: 5px;
    }
  }

  &.multiple-select-rounded-large {
    .ant-select-selector {
      border-radius: 1.25em;
    }
  }
}
