.papper-input-upload {
    &.width-full {
        .ant-upload.ant-upload-select-picture-card {
            width: 100%;
        }
    }
    .ant-upload.ant-upload-select-picture-card {
        border-radius: 16px;
        background-color: #ffffff;
    }
    .ant-upload-list-picture-card {
        .ant-upload-list-item {
            border-radius: 16px;
            border: 1px dashed #d9d9d9;
        }
    }
}