.sidebar {
    flex: 1;
    //border-right: 0.5px solid lightgrey;
    min-height: 100vh;
    background-color: #ffffff;

    // margin-top: 5px;
    // margin-bottom: 5px;
    // margin-left: 5px;
    .top {
        height: 7vh;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
        padding-top: 20px;
        background-color: #ffffff;

        .logo {
            font-size: 25px;
            font-weight: bold;
            color: #dc778f;
        }
    }

    .hr1 {
        height: 0;
        //border:  0.5px solid rgb(231, 228, 228);
    }

    .center {
        //padding-left: 10px;
        //border-right: 0.5px solid lightgrey;
        padding-top: 15px;
        height: 93vh;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

        }

        .title {
            font-size: 1vh;
            font-weight: bold;
            color: #d32f2f;
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 5px;
        }

        li {
            display: flex;
            align-items: center;
            padding: 25px;
            cursor: pointer;
            height: 40px;

            &:hover {
                background-color: #d32f2f;
                border-radius: 20px;
            }
        }

        li:hover {
            background-color: #f35757 !important;

            .icon {
                color: #ffffff !important;
            }

            span {
                color: #ffffff !important;
            }
        }

        .icon {
            font-size: 20px;
            color: #d32f2f;
        }

        span {
            font-size: 13px;
            font-weight: 600;
            color: #d32f2f;
            margin-left: 10px;
        }

    }

    // .bottom{
    //     display: flex;
    //     align-items: center;
    //     margin: 10px;

    //     .colorOption{
    //         width: 20px;
    //         height: 20px;
    //         border-radius: 5px;
    //         margin: 5px;
    //         border:  1px solid #dc778f;
    //         cursor: pointer;

    //         &:nth-child(1){
    //             background-color: white;
    //         }
    //         &:nth-child(2){
    //             background-color: rgb(145, 31, 31);
    //         }
    //     }
    // }
}