.list {
    display: flex;

    background-color: #dc778f;
    .listContainer {
      flex: 6;
      // margin-top: 5px;
      // margin-bottom: 5px;
      // margin-right: 5px;
      background-color: #e7f0fa;
    }
  }